<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ChangePassword</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="../static/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
    <label for="oldpassword" class="sr-only">Old Password</label>
    <input type="text" id="oldpassword" class="form-control" name="oldpassword" value="{{.OldPassword}}" placeholder="Old Password" required autofocus>
    <label for="newpassword" class="sr-only">Old Password</label>
    <input type="text" id="newpassword" class="form-control" name="newpassword" value="{{.NewPassword}}" placeholder="New Password" required>
    <label for="confirmpassword" class="sr-only">New Password</label>
    <input type="text" id="confirmPassword" class="form-control" name="confirmpassword" value="{{.ConfirmPassword}}" placeholder="Confirm Password" required>
    {{if .Error}}
    <div class="alert alert-danger" role="alert" id="errorAlert">
        {{.Error}}
    </div>
    <script>
        setTimeout(function() {
            var alert = document.getElementById('errorAlert');
            if (alert) {
                alert.style.display = 'none';
            }
        }, 3000);
    </script>
    {{end}}
    {{if .Success}}
    <div class= "alert alert-success" role="alert" id="successAlert">
        {{.Success}}
    </div>
    <script>
        setTimeout(function() {
            var alert = document.getElementById('successAlert');
            if (alert) {
                alert.style.display = 'none';
            }
        }, 3000);
    </script>
    {{end}}
    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Change</button>
    <a class="btn btn-lg btn-primary btn-block" href="/login">Back</a>
    <p class="mt-5 mb-3 text-muted">&copy;By Aimen</p>
</form>
</body>
</html>
